.__register_form__ {
  width: 30%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.__register_form__ > h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.__register_form__ > form > button {
  border: 1px solid rgb(0, 0, 0);
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 3px 25px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bolder;
}

.__register_form__ > form > button:hover {
  background-color: lightgreen;
}
